<!DOCTYPE html>
<html>
  <head>
    <title>Stephen JP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do:400,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <a href="/">Stephen JP</a>
    </header>

    <div class="icons">
      <a href="http://instagram.com/stephenjp.nyc"><%= fa_icon "instagram", class: "fa-lg" %></a>
      &nbsp;
      <a href="mailto:stephenjp830@gmail.com"><%= fa_icon "envelope-o", class: "fa-lg" %></a>
    </div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active dropdown">
              <a href="/" data-toggle="dropdown" class="dropdown-toggle">PHOTOGRAPHY</a>
               <ul class="dropdown-menu" id="menu1">
                <li><a href="/">HOME</a></li>
                <li><a href="?cat=portraits">PORTRAITS</a></li>
                <li><a href="?cat=dance">DANCE</a></li>
                <li><a href="?cat=events">EVENTS</a></li>
                <li><a href="?cat=street">STREET</a></li>
              </ul>
            </li>
            <li><a href="/filmography">FILMOGRAPHY</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <script type="text/javascript">
      $(document).ready(function() {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
      });
    </script>
  </body>
</html>
